/*structural styles*/
html{
    background-color: black;
}
body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
.container{
  width: 80%;
  margin: auto;
  background-color: rgb(96, 94, 93);
}
header{
  background-color: rgb(96, 94, 93);
}
header::after{
  content: "";
  display: table;
  clear: both;
}
article, figcaption, figure, footer, header, main, nav, section{
  display: block;
}
/* M3L01 Demonstrates the use of a reset stylesheet*/
/*•	M2LO6  Demonstrate a CSS id and a CSS class selector
(CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors)*/
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-style: italic;
    padding-top: 0;
}
h2{
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  font-style: italic;
  padding-top: 0;
}
/*M2LO3 Demonstrate style precedence and inheritance in */
/*M2LO13 Demonstrate how CSS can change presentation of textual elements
(CSS, these are styles that impact text that is rendered on the page)*/

div.p{
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    text-align: center;
    color: whitesmoke;
    font-size: 55px;
    text-transform: uppercase;
    padding-top: 0;
 }
/*Demonstrate external, embedded, and inline styles (HTML, this item should be specified 2 times, once each for embedded and inline styles;
note external was taken care of with M1LO8; see 2-3b Embedded Style Sheets, and 2-3c Inline Styles)*/

/*M2LO12 Demonstrate how CSS can change presentation of page elements
 (CSS, these are styles that impact page elements rather than impacting text on the page)*/
p{
    text-align: center;
    text-decoration: whitesmoke;
    text-transform: lowercase;
    font-size: 25px;
}

/*M4L02 Demonstrates the use of a backgroun image*/
/*M2LO15 Apply colors using CSS (CSS, see 2-5 Working with Color in CSS)*/

/*Sidebar Menu*/

/*M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different
 types of contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook*/

/*•	M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times,
 show a use of id and a use of class, see 2-9b Attribute selectors)*/

/*•	M2LO7 Demonstrate a CSS attribute selector other than class or id
 (CSS, specify 1 time, see 2-9b Attribute selectors)*/
/*body styles*/
body{
  border-radius: 15px double rgb(128, 27, 5);
}


 /*Footer*/

 footer{
    text-align: center;
    margin: inherit;
}
/*•	M2LO3 Demonstrate style precedence and inheritance in */

address{
    text-align: center;
}
/*typographical styles*/


 
address, article, aside, body, cite, div, dl, dt, dd, em, figcaption,
figure, footer,h1, h2, h3, h4, header, html, img, li, nav, ol, p, 
section, span, ul{
  background-color: black;
  color: whitesmoke;
  font-size: 100%;
  margin: 1%;
  padding: 1%;
  vertical-align: baseline;
}
/* M3L01 Demonstrates the use of a reset stylesheet*/
/* image properties*/
img{
    max-width: 55%;
    max-height: 35%;
    border-radius: 8px;
    display: block;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
}


/*M2LO14 Demonstrate and explain the use of
progressive enhancement in CSS (CSS, see 2-6 Employing Progressive Enhancement)*/
/* Visited Link */

/*•	M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times,
  show one pseudo-class and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements)*/


/*navigation*/
nav{
  float: left;
}
ul{
    width: auto;
    color:rgb(252, 251, 250);
    font-size: 20px;
    padding-top: 0;
    margin: 0;
}
li{
  display: inline-block;
  margin-left: 100px;
  padding-top: 30px;
}
ol{
    color:white;
    font:15px;
}
a{
  text-decoration: none ;
  text-transform: uppercase;
  color: rgb(128, 27, 5);
}
:hover{
  color: rgb(128, 27, 5);
}
:visited {
  color: rgb(128,27,5);
}