@charset "UTF-8";
/*•	M6LO7 Demonstrate how to format a table with CSS 
(CSS, group your table styles together and note the overall impact they have on the HTML)*/
/* Table Styles */
@import(styles.css);

.demo{
    margin-left: auto;
	margin-right: auto;
	background: black;
	border: 5px solid rgb(152, 151, 150);
	border:2px solid gray;
	line-height: 2em;
	padding: 10px;
	background-color: black;
	color: rgb(128,27,5);
	font-weight: normal;
	color: rgb(128,27,5);
	font-size: 1.2em;
	vertical-align: text-top;
}
}
table {
	background: black;
	border: 8px solid rgb(152, 151, 150);
}
th td {
	border:4px solid gray;
	line-height: 2em;
	padding: 10px;
}
th {
	background-color: black;
	color: rgb(128,27,5);
	font-weight: normal;
}
td {
	color: rgb(128,27,5);
	font-size: 1.2em;
	vertical-align: text-top;
}
/* Column Styles */
col#firstCol {
	width: 12%;
}
col.dataCols {
	width: 12%;
}
/* Table Header Styles */
table thead tr {
	height: 25px;
}
table thead tr:first-of-type th:first-of-type {
	font-size: 2em;
}
table thead tr:first-of-type th:not(:first-of-type){
	background: radial-gradient(silver, #646261, #030303)
	color: rgb(128,27,5);
}
