/*M7LO11 Demonstrate how to format a form with CSS */
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image:image(woman.jpg);
    background-size: 960px;
    background-position: center;
    font-family: 'Nosifer,' cursive;
}

.contact-title{
    margin-top: 250px;
    color: rgb(128,27,5);
    text-transform: capitalize;
    transition: all 4s ease-in-out;
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2{
    font-size: 16px;
}

.form{
    width: 550px;
    height: 450px;
    margin: auto;
    position: relative;
    transition: all 4s ease-in-out;
}
/*M8LO10 Demonstrate a CSS animation or transition */
.form-control{
    width: 960px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(252, 251, 250);
    font-size: 18px;
    margin-bottom: 16px;
}
.input{
    height: 45px;
}

form.submit{
    background-color:transparent;
    border-color: transparent;
    color: rgb(128, 27, 5);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form.submit:hover{
    background-color: rgb(130, 29, 7);
    cursor: pointer;
}
.textarea{
    width: 800px;
}
